<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="telephone=no">
<title>
  <%= title %>
</title>
<meta name="description" content="<%= desc %>">
<!-- favicon/icon -->
<link rel="icon" href="<%= level %>favicon/favicon.ico">
<link rel="icon" href="<%= level %>favicon/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="<%= level %>favicon/webclip.png">
<!-- ogp -->
<meta property="og:site_name" content="サイト名">
<meta property="og:url" content="<%= url %>">
<meta property="og:type" content="website">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= desc %>">
<meta property="og:image" content="<%= og_image %>">
<meta property="og:locale" content="ja_JP">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="<%= desc %>">
<meta name="twitter:image:src" content="<%= url %>">
<!-- css -->
<link rel="stylesheet" 　href="<%= level %>css/style.css">
